/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body{
    background-color: #f7f7f7;
}
.form-style{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
.bg-color-blue{
    background-color: #4884f9;
    color:white
}
.text_area_enquiry{
padding: 25px;
font-size: 34px;
line-height: 46px;
font-weight: bold;
}
input{
    width: 100%;
    padding: 6px;
    font-size: 13px;
    border: 1px solid #dfd7d7;
    border-radius: 5px;
}

.card-body{
    background-color: white;
}

.lets_connect{
    text-align: center;
    font-weight: bold;
    font-size: 34px;;
}
.lets_connect span{
    color: #4884f9;
    font-weight: lighter;
}
.submit-button{
    background-color: #4884f9;
    color:white;
    border: none;
}
.padding-left-right{
    padding: 0 260px;
}
.logo-image{
    height: 25px;
}